@import "tailwindcss";

@font-face {
  font-family: "Nunito Sans";
  src: url("/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: 200 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --background: #f4f9fd;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Nunito Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
